<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">

  </head>
  
  <body>

{% include header.html %}

<main>
        {% if page.sidebar %}

	{% include sidebar.html %}   

	{% endif %}
  <div class="container">
<div><p style="font-size:2em;">
ДАННОЕ СООБЩЕНИЕ (МАТЕРИАЛ) СОЗДАНО И (ИЛИ) РАСПРОСТРАНЕНО НЕКОММЕРЧЕСКОЙ ОРГАНИЗАЦИЕЙ И (ИЛИ) СРЕДСТВОМ МАССОВОЙ ИНФОРМАЦИИ, ТРЕБУЮЩЕЙ(ИМ/ИХ) ПОЛНОЙ ОТМЕНЫ ЗАКОНОДАТЕЛЬСТВА ОБ ИНОСТРАННЫХ АГЕНТАХ</p><div>

  {{ content }}

</div>
</main>
{% include menu.html %}
{% include footer.html %}
  </body>

</html>
